<div class="url-form">
  <form (ngSubmit)="shortenUrl()" #urlForm="ngForm">
    <input
      type="text"
      name="url"
      [(ngModel)]="longUrl"
      required
      #urlInput="ngModel"
      placeholder="Enter a long URL to shorten"
    />
    <button type="submit" [disabled]="urlForm.invalid || loading || isOnline">
      {{ loading ? "Shortening..." : "Shorten URL" }}
    </button>
  </form>
  <div *ngIf="urlInput.invalid && urlInput.touched" style="color: red">
    URL is required.
  </div>

  <div *ngIf="error" style="color: red; margin-top: 10px">
    {{ error }}
  </div>

  <p *ngIf="!isOnline" style="color: red; margin-top: 10px">
    ⚠️ You are currently offline. Connect to the internet to shorten URLs.
  </p>
</div>
